.mainBoard
{
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: red;
}

.footer
{
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-color: blue;
}
